body {
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  color: #000000;
}

h1 {
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 42px;
  color: #000000;
}

.item-title h2 {
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 700px;
  line-height: 18px;
  color: #000000;
}